<!DOCTYPE html>

<head>

<title>Appartamento Mappi</title>
<meta name="description" content="Appartamento a Puerto Del Carmen"/>
<meta name="keywords" content=""> 
<meta name="robot" content="nofollow"/>
<meta name="google" content="notranslate"/>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
 
<body style="background-color:#FFD7B4;">

<header>
	<div>
		<img class="headerLogo" src="/static/img/logos/logo_mini1.png"/>
		<nav>
			<ul>
				<li><a class="headerText" href="/">Home</a></li>
				<li><a class="headerText" href="/apartment/1">Appartamento</a></li>
				<li><a class="headerText" href="/availability">Disponibilità</a></li>
				<li><a class="headerText" href="/contacts">Prezzi e contatti</a></li>
				<li><a class="headerText" href="/whereis">Dove si trova</a></li>
				<li><a class="headerText" href="/feedbacks">Recensioni</a></li>
			</ul>	
		</nav>

		<div class="headerDropdown">
			<button class="dropdownButton" name="myDropdown1">Menù</button>
			<div id="myDropdown1" class="dropdownContent">
				<a href="/">Home</a>
				<a href="/apartment/1">Appartamento</a>
				<a href="/availability">Disponibilità</a>
				<a href="/contacts">Prezzi e Contatti</a>
				<a href="/whereis">Dove si trova</a>
				<a href="/feedbacks">Recensioni</a>
			</div>
		</div>
	</div>
</header>

<div class="contacts-wrap">
<div class="titlePrices">Prezzi</div>
<div class="tableContainer">
<table class="styled-table">
    <thead>
        <tr>
            <th>Periodo</th>
	    <th>2 Persone</th>
	    <th>3-4 Persone</th>
	    <th>5-6 Persone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ponte ognissanti</td>
            <td>500€ a settimana</td>
            <td>550€ a settimana</td>
            <td>600€ a settimana</td>
        </tr>
        <tr>
            <td>Immacolata e periodo natalizio</td>
            <td>500€ a settimana</td>
            <td>550€ a settimana</td>
            <td>600€ a settimana</td>
        </tr>
        <tr>
            <td>Capodanno e prima settimana dell'anno</td>
            <td>500€ a settimana</td>
            <td>550€ a settimana</td>
            <td>600€ a settimana</td>
        </tr>
        <tr>
            <td>Periodo pasquale</td>
            <td>500€ a settimana</td>
            <td>550€ a settimana</td>
            <td>600€ a settimana</td>
        </tr>
        <tr>
            <td>Settimane con 25 aprile e 1 maggio</td>
            <td>500€ a settimana</td>
            <td>550€ a settimana</td>
            <td>600€ a settimana</td>
        </tr>
        <tr>
            <td>Luglio e agosto</td>
            <td>500€ a settimana</td>
            <td>550€ a settimana</td>
            <td>600€ a settimana</td>
        </tr>
        <tr>
            <td>Altri periodi</td>
            <td>450€ a settimana</td>
            <td>500€ a settimana</td>
            <td>550€ a settimana</td>
        </tr>
    </tbody>
</table>
</div>
<div class="titlePrices titleContacts">Contatti</div>
<div class="contacts-caption-wrap">
<div class="captionPrices">Per maggiori informazioni, richieste di offerte mirate e prenotazioni è possibile contattarci via mail all'indirizzo appartamentomappi@gmail.com.</div>
</div>
</div>

<footer>
  <div>
    <p>© 2022 | Appartamento Puerto del Carmen, Lanzarote</p>
    <p id="contactFooter"><i class="fa fa-envelope"></i>  appartamentomappi@gmail.com</p>
  </div>
</footer>

<script src="/static/js/dropdown.js" type="text/javascript"></script>

</body>

</html>
