<!DOCTYPE html>

<head>

<title>Appartamento Mappi</title>
<link rel="icon" type="image/x-icon" href="/static/img/logos/favicon.ico">
<meta name="description" content="Appartamento a Puerto Del Carmen"/>
<meta name="keywords" content=""> 
<meta name="robot" content="nofollow"/>
<meta name="google" content="notranslate"/>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>


 
<body style="background-color:#FFD7B4;">

<header>
	<div>
		<img class="headerLogo" src="/static/img/logos/logo_mini1.png"/>
		<nav>
			<ul>
				<li><a class="headerText" href="/">Home</a></li>
				<li><a class="headerText" href="/apartment/1">Appartamento</a></li>
				<li><a class="headerText" href="/availability">Disponibilità</a></li>
				<li><a class="headerText" href="/contacts">Prezzi e contatti</a></li>
				<li><a class="headerText" href="/whereis">Dove si trova</a></li>
				<li><a class="headerText" href="/feedbacks">Recensioni</a></li>
			</ul>	
		</nav>

		<div class="headerDropdown">
			<button class="dropdownButton" name="myDropdown1"><div class="dropdownText">Menù</div><i class="fa fa-bars dropdownBars"></i></button>
			<div id="myDropdown1" class="dropdownContent">
				<a href="/">Home</a>
				<a href="/apartment/1">Appartamento</a>
				<a href="/availability">Disponibilità</a>
				<a href="/contacts">Prezzi e Contatti</a>
				<a href="/whereis">Dove si trova</a>
				<a href="/feedbacks">Recensioni</a>
			</div>
		</div>
	</div>
</header>

<div class="indications-wrap">
<div class="titleIndications">Indicazioni</div>
<div class="captionIndications">Puerto del Carmen dista solo 9 chilometri dall'aereoporto Cesar Manrique di Arrecife e si raggiunge in auto in neanche  10 minuti. L'appartamento è il n. 25 ed è situato al piano rialzato del blocco superiore del Residence Haria; il complesso ha due entrate da Calle Alcorce 7 (prendere l'entrata più in alto senza numero civico, entrare e salire a destra le scale sino a trovarsi allo stesso livello di Calle Princesa Teguise, strada che si vede dalle finestre della camera matrimoniale). Si può tranquillamente parcheggiare lungo Calle Alcorce. Per il noleggio dell'auto o della moto vi sono numerose compagnie che fanno il servizio sia all'aeroporto che a Puerto del Carmen. Per informazioni sulla disponibilità di auto e la scelta della compagnia vi consigliamo il sito www.doyouspain.com (segnalo che Cicar è una compagnia locale e quella con cui mi sono trovato meglio). Di seguito trovate la mappa per orientarvi.</div>
<div class="titleIndications">Voli per Lanzarote</div>
<div class="captionIndications">Tra gli aeroporti che offrono voli diretti per Lanzarote (Arrecife) ci sono Venezia, Bologna e Bergamo. La durata del volo è di 4 ore circa per ognuno di questi. Per maggiori informazioni consultare il sito di <a href="https://www.ryanair.com/it/it" class="linkRyanair">Ryanair</a>.</div>
<!--<div class="captionIndications">I voli diretti Treviso - Lanzarote (Arrecife) e Lanzarote (Arrecife) - Treviso sono della durata di 4 ore circa.<br>Gli orari dei voli sono i seguenti:<br>- fino ad Ottobre 2022 ogni venerdì (andata ore 11:45, ritorno ore 16:00)<br>Per i voli in partenza o in arrivo su aeroporti diversi da Treviso consultare il sito di <a href="https://www.ryanair.com/it/it" class="linkRyanair">Ryanair</a>.</div>
</div>-->

<div class="titleMap">Mappa</div>
<div class="googleMap">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3492.136521125779!2d-13.66328688467437!3d28.923996877579672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc4625956b073a1d%3A0x32335856a040051d!2sC.%20Alcorce%2C%207%2C%2035510%20T%C3%ADas%2C%20Las%20Palmas%2C%20Spagna!5e0!3m2!1sit!2sit!4v1648681485804!5m2!1sit!2sit" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

<footer>
  <div>
    <p>© 2022 | Appartamento Puerto del Carmen, Lanzarote</p>
    <p id="contactFooter"><i class="fa fa-envelope"></i>  appartamentomappi@gmail.com</p>
  </div>
</footer>

<script src="/static/js/dropdown.js" type="text/javascript"></script>

</body>

</html>
