<!DOCTYPE html>

<head>

<title>Appartamento Canarie</title>
<meta name="description" content="Sito dell'appartamento alle Canarie"/>
<meta name="keywords" content=""> 
<meta name="robot" content="nofollow"/> <link rel="stylesheet" type="text/css" href="/static/css/960_12_col.css"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>


 
<body>

<!-- style="min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px;"-->



<header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/apartment">Appartamento</a>
			<li><a href="/prices">Prezzi</a></li>
			<li><a href="/services">Servizi</a></li>
			<li><a href="/book">Prenota</a></li>
			<li><a href="/where">Dove Si Trova</a></li>
			<!--<li><span class="footerRight"><a href="/login"> <span id="suqi_sypeeoui" class="login">Login</span></a></span></li>-->
		</ul>	
	</nav>

</header>

<!-- Loghi e titolo -->
<div class="titleHome">Appartamento<br>"Mappi"</div>


<!--<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <img class="imgSlide" src="/static/img/lanzarote.png">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img class="imgSlide" src="/static/img/letto1.jpeg">
  </div>


  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>


</div>

<div class="boxImg">
    <div class="containerImg">
      <a>
        <img class="homeImg" src="/static/img/lanzarote.png">
      </a>
      <div class="homeImgText">Playa 1</div>
    </div>
    <div class="containerImg">
      <a>
        <img class="homeImg" src="/static/img/lanzarote.png">
      </a>
      <div class="homeImgText">Luogo bello 2</div>
    </div>
    <div class="containerImg">
      <a>
        <img class="homeImg" src="/static/img/lanzarote.png">
      </a>
      <div class="homeImgText">Posto dove puoi fare qualcosa</div>
    </div>
</div>

<!--  link fiero https://codepen.io/supah/pen/ZWGJeR -->

<div class="boxImg">
    <div class="containerImg">
      <img class="homeImg" src="/static/img/lanzarote.png">
      <div class="homeImgText">Salotto</div>
    </div>
    <div class="containerImg">
      <img class="homeImg" src="/static/img/lanzarote.png">
      <div class="homeImgText">Camera da letto</div>
    </div>
    <div class="containerImg">
      <img class="homeImg" src="/static/img/lanzarote.png">
      <div class="homeImgText">Cucina</div>
    </div>
</div>

     

<div class="spaceBelowBoxImg"></div>

<div class="titleMap">Dove si trova l'appartamento?</div>

<div class="google-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d873.0252691977123!2d-13.661926570787507!3d28.925049272700246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc46259561234cd5%3A0x24a81d344e45a328!2sC.%20Alcorce%2C%2025%2C%2035510%20T%C3%ADas%2C%20Las%20Palmas%2C%20Spagna!5e0!3m2!1sit!2sit!4v1648050056727!5m2!1sit!2sit" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
-->
<footer class="Other" >
	<p class=" FooterLeft">© 2022 | Appartamento Puerto del Carmen, Lanzarote</p>
	<p class=" FooterRight"><i class="fa fa-envelope"></i><a href="mailto:prova@example.com"> prova@example.com</a></p>
</footer>

<script src="/static/js/slideshow.js" type="text/javascript"></script>

<script src="/static/js/popup.js" type="text/javascript"></script>

</body>

</html>

