@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

html {
  height:100%;
}

body {
  position:static;
  background-color: #FF8F5B;
  /*background-color:#FF702E;*/
  /*background-color:#B1EDE8;*/
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

/*
 *
 *
 *
 *
 */

header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 2;
  background-color:#232C33;
  width:100%;
}

header>div {
  position:relative;
  width:auto;
  height:80px;
  margin-top: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  display:flex;
  align-items:center;
}

header>div>nav>ul>li{
  display:inline-block;
}

header>div>nav>ul>li>a{
  display:block;
}

header>div>nav>ul>li>a>div{
  display:none;
}

header>div>nav {
  width:auto;
}

.headerLogo {
  position:relative;
  z-index:3;
  height:70px;
  width:auto;
  padding-left:5px;
  padding-top:0px;
}

.headerText {
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-right:20px;
  line-height:2.5;
}

.headerText:hover{
  color: #F0803C;
}

.headerDropdown {
    display:none;
}

/*
 *
 *
 *
 *
 *
 */

.dropdownButton {
  border:none;
  cursor:pointer;
  font-family:"Mansalva", cursive;
  color:white;
  background-color:#232C33;
  display:flex;
  justify-content:center;
  align-items:center;
}

.dropdownText {
  margin-right:15px;
  pointer-events:none;
}

.dropdownBars {
  font-size:40px;
  pointer-events:none;
}

.dropdown {
  position:relative;
  float:right;
  display:inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  right:0;
  font-size:16px;
  background-color: #232C33;
  min-width: 160px;
  box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #1A2126}

.show {display:block;}

.imgLogo {
  position:relative;
  margin-top:80px;
  width:100%;
  height:auto;
  display:block;
  overflow: hidden;
}

.previewContainer {
  position:relative;
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding-top:3.5%;
  margin-left:1.4%;
  margin-right:1.4%;
  width:auto;
}

#inverted {
  flex-direction:row-reverse;
}

.slideshowContainer {
  position:relative;
}

.slideshowWrapper {
  position:relative;
  background-color: #232C33;
  padding: 0.8%;
  width:46%;
  overflow:hidden;
  border-radius:20px;
}

.slideshowCaption {
  color: #f2f2f2;
  padding-top:1.5%;
  padding-bottom:1.5%;
  position: absolute;
  width:100%;
  bottom:0;
  font-size:1.1vw;
  text-align:center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 15px 15px;
  line-height:1.5;
}

.previewImg {
  display:block;
  border-radius:15px;
  position:relative;
  width: 100%;
  height: auto;
}

.previewCaptionBox {
  position:relative;
  padding: 0.8%;
  background-color: #232C33;
  border-radius:20px;
  width:44%;
  margin-left:3%;
  margin-right:3%;
}

.previewCaptionTitle {
  background-color:#FFD7B4;
  border-radius:15px 15px 0px 0px;
  position:relative;
  text-align:center;
  height:auto;
  width:auto;
  color:#232C33;
  padding-top:20px;
  font-size:3.3vw;
  font-family: "Mansalva", cursive;
}

.previewCaption {
  background-color:#FFD7B4;
  border-radius:0px 0px 15px 15px;
  position:relative;
  padding:3%;
  height:auto;
  width:auto;
  color:#232C33;
  font-size:1.2vw;
  line-height:1.5;
}

.showSlide {
  display: none;
}

.left, .right {  
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 1.4vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.right {  
  right: 0;
  border-radius: 3px 0 0 3px;
}  
        
.left:hover, .right:hover {  
  background-color: rgba(0, 0, 0, 0.8);  
}  

.fade {  
  -webkit-animation-name: fade;  
  -webkit-animation-duration: 1.5s;  
  animation-name: fade;  
  animation-duration: 1.5s;  
}  

@-webkit-keyframes fade {  
  from {  
    opacity: .4  
  }  
  to {  
    opacity: 1  
  }  
}  

@keyframes fade {  
  from {  
    opacity: .4  
  }  
  to {  
    opacity: 1  
  }  
} 

.horizontalLine {
  background-color: #232C33;
  height:4vw;
  width:100%;
  position:relative;
}

.spaceBelowPreview {
  height:3.5vw;
  width:100%;
  position:relative;
}

/*
 *
 *
 *
 *
 */

.titleInfoContact {
  position:relative;
  width:100%;
  height:4vw;
  color:#FFD7B4;
  font-size:1.5vw;
  background-color:#232C33;
  display:flex;
  justify-content:center;
  align-items:center;
}

.captionInfoContact {
  position:relative;
  width:auto;
  height:auto;
  color:#232C33;
  font-size:1.2vw; 
  background-color:#FFD7B4;
  padding:1.5vw;
  line-height:1.5;
}

.contact {
  color:#232C33;
}

.contactHome {
  position:relative;
  width:100%;
  height:4vw;
  padding-top:1vw;
  padding-bottom:1vw;
  font-size:1.3vw;
  background-color:#FFD7B4;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.contactHome>div>a {
  color:#232C33;
}

.contactHome a:hover {
  color: #F0803C;
}

/*
 *
 *
 *
 *
 */

.contacts-wrap {
  margin-top:80px;
}

.titlePrices {
  width:100%;
  height:20%;
  font-size:60px;
  padding-top:40px;
  padding-bottom:20px;
  font-family:"Mansalva", cursive;
  background-color:#FFD7B4;
  display:flex;
  justify-content:center;
  align-items:center;
  /*border-bottom: 4px #232C33;*/
  color:#232C33;
}

.titleContacts {
  padding-bottom:40px;
}

.tableContainer {
  width:50%;
  margin-left:25%;
}

.captionPrices {
  font-size:1.1vw;
  color:#232C33;
  position:relative;
  height:auto;
  padding:25px;
  text-align:center;
  background-color:#FFD7B4;
  border-top: thick double #232C33;
  border-bottom: thick double #232C33;
  line-height:1.5;
  margin-bottom:80px;
}

.contacts-caption-wrap {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:50%;
  margin-left:25%;
}

/*
 *
 *
 *
 *
 */

.titleIndications {
  width:100%;
  height:80px;
  font-size:60px;
  font-family:"Mansalva", cursive;
  background-color:#FFD7B4;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#232C33;
  margin:2%;
}

.captionIndications {
  font-size:1.2vw;
  color:#232C33;
  position:relative;
  height:auto;
  padding:18px 12px 18px 12px;
  text-align:center;
  background-color:#FFD7B4;
  width:70%;
  border-bottom: thick double #232C33;
  border-top: thick double #232C33;
  line-height:1.5;
}

.linkRyanair {
  text-decoration:none;
  color:#4059AD; 
}

.linkRyanair:hover{
  color:#F0803C;
}

.indications-wrap {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  margin-top:80px;
}

.titleMap {
  margin-top:4%;
  width:100%;
  height:80px;
  color:#FFD7B4;
  font-family: "Mansalva", cursive;
  font-size:2.5vw;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#232C33;
}

.googleMap {
  position:relative;
  width:100%;
  padding-top:0;
  padding-bottom:70%;
  height:0;
  overflow:hidden;
}

.googleMap iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 *
 *
 *
 *
 */

.workInProgress-wrap {
  width:100%;
  margin-top:80px;
  height: calc(100vh - 160px);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.titleWorkInProgress {
  text-align:center;
  font-family: "Mansalva", cursive;
  font-size: 5vw;
  color: #232C33;
  padding-bottom:3%;
}

/*
 *
 *
 *
 *
 */

.apartmentWrapper{
  display:flex;
  align-items:stretch;
  width:100%;
  margin-top:80px;
  background-color:#1A2126;
}

.dropdownButtonApartment{
  cursor:pointer;
}

.slideshowWrapperApartment{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  overflow:hidden;
  width:70%;
  padding-top:1%;
  padding-left:1%;
  padding-right:1%;
  background-color:#495965;
}

.columnLeftApartment{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:1.5%;
  background-color:#1A2126;
  width:14%;
}

.apartmentDescriptionWrapper{
  background-color:#1A2126;
}

.apartmentDescriptionWrapperWrapped{
  width:100%;
  background-color:#495965;
  padding:1% 0;
}

.apartmentDescription{
  color:#232C33;
  font-size:1.2vw;
  line-height:1.5;
  text-align:center;
  padding:4% 16%;
  background-color:#FFD7B4;
}

.apartmentRoomWrapper{
  display:flex;
  align-items:center;
  justify-content:center; 
  height:12%;
  background-color:#232C33;
  width:100%;
}

.apartmentRoom{
  color:white;
  cursor:pointer;
  text-decoration:none;
  font-size:1.1vw;
  text-align:center;
  width:85%;
}

.apartmentRoom:hover{
  color:#F0803C;
}

.previewImgApartment{
  display:block;
  position:relative;
  height: auto;
  width:100%;
}

.leftApartment, .rightApartment {  
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.8vw;
  transition: 0.6s ease;
  border-radius: 0 6px 6px 0;
  user-select: none;
}

.rightApartment {  
  right: 0;
  border-radius: 3px 0 0 3px;
}  
        
.leftApartment:hover, .rightApartment:hover {  
  background-color: rgba(0, 0, 0, 0.8);  
}  

/*
 *
 *
 *
 *
 */


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:100%;
}

.styled-table thead tr {
    font-family: sans-serif;
    background-color: #232C33;
    color: #ffffff;
    text-align: left;
    border-left:1px solid #232C33;
    border-right:1px solid #232C33;
}

.styled-table th, .styled-table td {
	padding:3% 4%;
}

.styled-table tbody tr {
    border-bottom: 1px solid #232C33;
    border-left:1px solid #232C33;
    border-right:1px solid #232C33;
    background-color: #f3f3f3;
    font-size:1vw;
    color:#232C33;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color:#e3e3e3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid #232C33;
}

/*
 *
 *
 *
 *
 */

.titleAvailability{
  width:100%;
  height:20%;
  font-size:3.4vw;
  font-family:"Mansalva", cursive;
  background-color:#FFD7B4;
  padding:4% 0;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#232C33;
}

.availabilityDescriptionWrapper {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
}

.availabilityDescription {
  border-top: thick double #232C33;
  border-bottom: thick double #232C33;
  color:#232C33;
  font-size:1.2vw;
  margin-bottom:8%;
  width:70%;
  padding:1.5%;
  text-align:center;
}

.prev, .next{
  cursor:pointer;
}

.calendar{
  display:none;
  flex-direction:column;
  align-items:stretch;
  justify-content:center;
  width:80%;
  margin-top:80px;
  margin-left:10%;

}

/* Month header */
.month {
  width:100%;
  background: #232C33;
  border-radius: 20px 20px 0 0;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:row;
  height:90px;
  margin: 0 35px;
  font-size: 1.2vw;
}

.month ul li {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align:center;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 25px;
  background-color:#ddd;
  border-left: solid 1.7px #232C33;
  border-right: solid 1.7px #232C33;
  display:flex;
  flex-wrap:wrap;
}

.weekdays li {
  flex: 1 0 14%;
  list-style-type:none;
  color: #232C33;
  text-align: center;
  font-size:1.2vw;
  font-weight:bold;
  align-items:initial;
}

/* Days (1-31) */
.days {
  display:flex;
  flex-wrap:wrap;
  padding: 10px 25px;
  background: #eee;
  margin: 0;
  border-left: solid 1.7px #232C33 ;
  border-right: solid 1.7px #232C33 ;
  border-bottom: solid 1.7px #232C33;
  border-radius: 0 0 20px 20px;
  margin-bottom:5%;
}

.days li {
  flex: 1 0 14%;
  list-style-type: none;
  text-align: center;
  margin-bottom: 5px;
  font-size:1.2vw;
  color: #232C33;
  padding: 0.8% 0;
}

/*
 *
 *
 *
 *
 */

.titleFeedbacks {
  max-width:80%;
  text-align:center;
  margin-bottom:10px;
}

.feedback {
  color:#232C33;
  margin-left:15%;
  margin-right:15%;
  margin-bottom:20px;
  padding:30px;
  width:70%;
}

.feedbackTitle {
  font-size:1.4vw;
  display:flex;
  align-items:center;
}

.feedbackIcons {
  flex-shrink:0;
}

.feedbackNames {
  font-weight:bold;
  margin-left:2%;
}

.feedbackIcon {
  height:2.8em;
}

.feedbackDate {
  padding:0 0 0.5% 0;
  font-size:1vw;
  color:#565959;
}

.feedbackContent {
  font-size:1.2vw;
}

/*
 *
 *
 *
 *
 */

.adminListWrapper {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%; 
  height:calc(100vh - 160px);
  margin-top:80px;
}

.adminList {
  background-color:white;
  border:solid #232C33 2px;
  border-radius:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  padding-top:1%;
  padding-bottom:1%;
  min-height:300px;
}

.adminListText {
  color:#232C33;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  font-size:1vw;
  padding:8% 20%;
}

.adminListText:hover {
  color:#F0803C;
}

.editPrenotazione {
  color:#232C33;
  text-decoration:none;
}

.editPrenotazione:hover {
  color:#F0803C;
}

input.submitLog{

  background: #232C33;
  width: 80%;
  height: 35px;
  border-radius: 13px;
  border-style: hidden;
  outline: none;
  color: white;
  cursor: pointer;

}

input.submitLog:hover{

	transition-duration: 0.5s;
	opacity: 0.8;
	outline: none;

}


input.textLog{

  width: 90%;
  height: 35px;
  border-radius: 13px;
  border-style: hidden;
  background: #EEF0F1; 
  padding-left: 15px;
  margin-bottom: 3%;

}

input.textLog:focus , input.textLog:hover{

	outline: none;
	border: solid 1px #232C33;
	border-radius: 13px;
	padding-left: 14px;

}

a.linkLog{

  color: #6E7E85;


}

.linkLog:hover{

  color: #232C33;
  transition-duration: 1s;

}

.textarea{
  resize:none;
  border-radius: 13px;
  background: #EEF0F1;
  width: 80%;
  border: none;
  outline: none;
  padding: 15px;
}

.error{
  display:none;
  color: #B91A18;
}

.form{

  background-color:white;
  border:solid #232C33 2px;
  border-radius:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  gap:10%;
  padding:4%;
  min-height:300px;
  
}

.buttonRedirect{

  background: #232C33;
  width: 70%;
  height: 30px;
  border-radius: 13px;
  border-style: hidden;
  color: white;
  text-decoration: none;
  outline: none;
  cursor:pointer;

}

div.redirectTxt{

  background-color: white;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%;);
  -moz-transform: translate(-50%, -50%;);
  font-family: sans-serif;
  width: 550px;
  height: 200px;
  filter: none;
  border-radius: 10px;

}

div.redirectCenter{

  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%;);
  -moz-transform: translate(-50%, -50%;);
  font-family: sans-serif;
  color: black; 

}

.RemoveWrapper{
  margin-top:80px;
  width:100%;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  margin-bottom:80px;
}

.imgRemoveWrapper{
  margin-top:4%;
  padding:1%;
  width:50%;
  background-color:#495965;
  display:flex;
  align-items:stretch;
  justify-content:center;
}

.imgRemove{
  width:60%;
  height:auto;
}

.imgRemoveSpecs{
  width:40%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  gap:10%;
}

.imgSpec {
  color:white;
  font-size:1vw;
  text-align:center;
}

.imgRef {
  cursor:pointer;
}

.imgRef:hover {
  color:#F0803C;
}

/*
 *
 *
 *
 *
 */

footer {
  margin-top: auto;
  width: 100%;
  height: 80px;
  background-color: #232C33;
  opacity:1;
  z-index: 3;
  font-size: 18px;
}

footer>div {
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:100%;
  margin-left:2%;
  margin-right:2%;
  text-align:center;
}

footer>div>p {	
  color:white;
}

footer>div>p>a {
  color:white;
}

footer>div>p>a:hover {
  color: #F0803C;
}

/*
 *
 *
 *
 *
 */

@media screen and (max-width: 1400px) and (min-width:1001px) {
	
	.imgSpec {
	  font-size:1.3vw;
	}

	.headerText {
          font-size: 15px;
	}

	footer {
          font-size: 15px;
	}

	.days li {
	  font-size:1.4vw;
	}

	.weekdays li {
	  font-size:1.4vw;
        }

	.month ul {
	  font-size:1.3vw;
	}

	.titleAvailability {
	  font-size:3.8vw;
	}

	.availabilityDescription {
	  font-size:1.4vw;
	}

  	.captionPrices {
    	  font-size:1.45vw;
  	}

	.styled-table {
	  font-size:1.3vw;
	}

	.styled-table tbody tr {
	  font-size:1.3vw;
	}

	.adminListText {
	  font-size:1.3vw;
	}

	.titleFeedbacks {
  	  margin-bottom:10px;
	}

	.feedback {
  	  margin-left:10%;
  	  margin-right:10%;
  	  margin-bottom:20px;
  	  padding:30px;
  	  width:80%;
	}

	.feedbackTitle {
 	  font-size:1.6vw;
	}	

	.feedbackIcon {
	  height:2.8em;
	}

	.feedbackDate {
	  font-size:1.2vw;
	}

	.feedbackContent {
	  font-size:1.4vw;
	}

}

@media screen and (max-width: 1000px) and (min-width:780px) { 
  .imgSpec {
    font-size:2vw;
  }

  footer {
    height: 80px;
    font-size: 14px;
    position:relative;
  }

  header>div {
    height:80px;
    padding-left: 16px;
    padding-right: 26px;
    justify-content:space-between;
  }

  .adminListText {
    font-size:2vw;
  }
	
  .days {
    margin-bottom:8%;
  }

  .days li {
    font-size:2vw;
  }

  .weekdays li {
    font-size:2vw;
  }

  .month ul {
    font-size:2vw;
  }

  .titleAvailability {
    font-size:6vw;
    padding:10% 0;
  }

  .availabilityDescription {
    padding:6% 3%;
    font-size:2.4vw;
  }

  .slideshowWrapperApartment {
    width:83%;
    padding-top:2%;
    padding-left:2%;
    padding-right:2%;
  }

  .apartmentDescriptionWrapperWrapped {
    padding:2% 0;
  }

  .apartmentDescription {
    padding-left:16%;
    padding-right:16%;
  }

  .columnLeftApartment {
    width:17%;
  }

  .apartmentRoom {
    font-size:1.6vw;
  }

  .apartmentDescription{
    font-size:1.9vw;
  }

  .headerText {
    display:none;
  }

  .headerLogo {
    height:70px;
  }

  .headerDropdown {
    display:block;
  }

  .horizontalLine {
    height:6vw;
  }

  .dropdownButton {
    border:none;
    cursor:pointer;
    font-size:24px;
    color:white;
    background-color:#232C33;
  }

  .dropdown {
    position:relative;
    float:right;
    display:inline-block;
  }

  .dropdownContent {
    display: none;
    position: absolute;
    right:0;
    font-size:16px;
    background-color: #232C33;
    min-width: 160px;
    box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdownContent a:hover {background-color: #1A2126}

  .show {display:block;}

  .imgLogo {
    margin-top:80px;
  }

  .previewContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:3.5%;
    margin-left:5%;
    margin-right:5%;
    width:auto;
  }

  #inverted {
    flex-direction:column;
  }

  .slideshowWrapper {
    width:100%;
    padding: 1.8%;
  }

  .slideshowCaption {
    font-size:2.5vw;
    border-radius: 0 0 10px 10px;
    line-height:1.5;
  }

  .previewCaptionBox {
    margin-top:4%;
    padding: 1.8%;
    border-radius:20px;
    width:100%;
    margin-left:3%;
    margin-right:3%;
  }

  .previewCaptionTitle {
    text-align:center;
    height:auto;
    width:auto;
    padding-top:20px;
    font-size:7vw;
  }

  .previewCaption {
    border-radius:0px 0px 15px 15px;
    padding:3%;
    height:auto;
    width:auto;
    font-size:2.5vw;
    line-height:1.5;
  }


  .left, .right {  
    font-size: 3.0vw;
  }

  .titleInfoContact {
    height:8vw;
    font-size:3.0vw;
  }

  .captionInfoContact {
    font-size:2.5vw; 
    padding:3.5vw;
    line-height:1.5;
  }

  .contactHome {
    height:9vw;
    padding-top:1vw;
    padding-bottom:1vw;
    font-size:2.5vw;
  }

  .titleWorkInProgress {
    font-size: 7vw;
  }

  .contacts-wrap {
    height:auto;
  }

  .titlePrices {
    width:100%;
    height:20%;
    font-size:6.0vw;
  }

  .titleIndications {
    height:80px;
    font-size:8vw;
  }

  .captionIndications {
    font-size:2.5vw;
    padding:20px 10px 20px 10px;
    margin-bottom:6%;
    width:75%;
    line-height:1.5;
  }

  .indications-wrap {
    margin-top:80px;
    padding-top:20px;
  }

  .titleMap {
    margin-top:4%;
    width:100%;
    height:8vw;
    font-size:4vw;
  }

  .googleMap {
    padding-bottom:85%;
  }

  .captionPrices {
    font-size:2vw;
  }

  .styled-table {
    font-size:1.8vw;
  }

  .styled-table tbody tr {
    font-size:1.8vw;
  }

  .tableContainer {
    width:70%;
    margin-left:15%;
  }

  .imgRemoveWrapper {
    width:90%;
  }

  .imgRemoveSpec {
    width:30%;
  }

  .titleFeedbacks {
    margin-bottom:10px;
  }

  .feedback {
    margin-left:5%;
    margin-right:5%;
    margin-bottom:20px;
    padding:20px;
    width:90%;
  }

  .feedbackTitle {
    font-size:2.8vw;
  }	

  .feedbackIcon {
    height:2.8em;
  }

  .feedbackDate {
    font-size:2.4vw;
    padding:0.5% 0 1% 0;
  }

  .feedbackContent {
    font-size:2.5vw;
  }

}

@media screen and (max-width: 780px) {
  .imgSpec {
    font-size:3vw;
  }

  .imgRemoveWrapper {
    width:90%;
  }

  .imgRemoveSpec {
    width:30%;
  }
  
  .adminListText {
    font-size:3vw;
  }

  .days {
    margin-bottom:10%;
  }

  .availabilityDescription {
    font-size:3.4vw;
    padding:8% 4%;
  }

  .titleAvailability {
    font-size:3.8vw;
  }

  .contacts-caption-wrap {
    width:90%;
    margin:0;
  }

  .captionPrices {
    font-size:2vw;
  }

  .styled-table {
    font-size:2.6vw;
  }

  .styled-table tbody tr {
    padding:0;
    font-size:2.6vw;
  }

  .contacts-wrap {
    height:auto;
  }

  .tableContainer {
    width:90%;
    margin:0;
  }

  .days li {
    font-size:3.2vw;
    padding:1.5% 0;
  }

  .weekdays li {
    font-size:3.2vw;
  }

  .month ul {
    font-size:3.2vw;
    height:65px;
  }

  .calendar {
    margin-top:60px;
  }

  .titleAvailability {
    font-size:8.4vw;
    padding:10% 0;
  }

  .slideshowWrapperApartment {
    width:96%;
    padding:2%;
    margin-bottom:2%;
  }

  .leftApartment, .rightApartment {
    font-size:4vw;
  }

  .apartmentDescriptionWrapperWrapped {
    padding:2% 0;
  }

  .apartmentWrapper {
    flex-direction:column-reverse;
    margin-top:60px;
  }

  .apartmentDescription {
    padding-left:17%;
    font-size:3.6vw;
    padding-right:17%;
  }

  .columnLeftApartment {
    width:100%;
    flex-direction:row;
    align-items:stretch;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:0px;
    background-color:#1A2126;
  }

  .apartmentRoom {
    font-size:3.2vw;
  }

  .apartmentRoomWrapper {
    height:50px;
    width:31%;
    margin-bottom:2%;
  }

  .apartmentDescriptionWrapper {
    justify-content:initial;
  }

  .previewContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:3.5%;
    margin-left:5%;
    margin-right:5%;
    width:auto;
  }

  #inverted {
    flex-direction:column;
  }

  .slideshowCaption {
    font-size:2.5vw;
    border-radius: 0 0 10px 10px;
    line-height:1.5;
  }
  
  .slideshowWrapper {
    width:100%;
    padding: 1.8%;
  }

  .horizontalLine {
    height:7vw;
  }

  .previewCaptionBox {
    margin-top:4%;
    position:relative;
    padding: 1.8%;
    border-radius:20px;
    width:100%;
    margin-left:3%;
    margin-right:3%;
  }

  .previewCaptionTitle {
    position:relative;
    text-align:center;
    height:auto;
    width:auto;
    color:#232C33;
    padding-top:20px;
    font-size:8vw;
    font-family: "Mansalva", cursive;
  }

  .previewCaption {
    background-color:#FFD7B4;
    border-radius:0px 0px 15px 15px;
    position:relative;
    padding:3%;
    height:auto;
    width:auto;
    color:#232C33;
    font-size:3vw;
    line-height:1.5;
  }


  .left, .right {  
    font-size: 3.4vw;
  }

  .titleInfoContact {
    height:9vw;
    font-size:3.5vw;
  }

  .captionInfoContact {
    font-size:3vw; 
    padding:3.5vw;
    line-height:1.5;
  }

  .contactHome {
    height:9vw;
    padding-top:1vw;
    padding-bottom:1vw;
    font-size:3.0vw;
  }

  .titleWorkInProgress {
    font-size: 8vw;
  }
  
  .contacts-wrap {
    margin-top:60px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
  }

  .titlePrices {
    width:100%;
    height:20%;
    font-size:9.0vw;
  }

  .captionPrices {
    font-size:3.4vw;
    padding:20px 10px 20px 10px;
    width:75%;
    line-height:1.5;
  }

  .titleIndications {
    height:50px;
    font-size:8vw;
    margin:3%;
  }

  .captionIndications {
    font-size:3vw;
    padding:20px 10px 20px 10px;
    margin-bottom:6%;
    width:75%;
    line-height:1.5;
  }

  .indications-wrap {
    margin-top:60px;
  }

  .titleMap {
    margin-top:4%;
    width:100%;
    height:9vw;
    font-size:4.8vw;
  }

  .googleMap {
    padding-bottom:100%;
  }

  header>div {
    height:60px;
    padding-left: 10px;
    padding-right: 16px;
    justify-content:space-between;
  }
  
  .headerDropdown {
    display:block;
  }

  .headerText {
    display:none;
  }

  .headerLogo {
    height:50px;
  }

  .dropdownButton {
    border:none;
    cursor:pointer;
    font-size:20px;
    color:white;
    background-color:#232C33;
  }

  .dropdownText {
    margin-right:12px;
  }

  .dropdownBars {
    font-size:30px;
  }

  .dropdown {
    position:relative;
    float:right;
    display:inline-block;
  }

  .dropdownContent {
    display: none;
    position: absolute;
    right:0;
    font-size:15px;
    background-color: #232C33;
    min-width: 160px;
    box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdownContent a:hover {background-color: #1A2126}

  .show {display:block;}

  .imgLogo {
    margin-top:60px;
  }

  .titleFeedbacks {
    margin-bottom:10px;
  }

  .feedback {
    margin-left:5%;
    margin-right:5%;
    margin-bottom:20px;
    padding:10px;
    width:90%;
  }

  .feedbackTitle {
    font-size:3.4vw;
  }	

  .feedbackIcon {
    height:2.8em;
  }

  .feedbackDate {
    font-size:3vw;
    padding:0.5% 0 1% 0;
  }

  .feedbackContent {
    font-size:3vw;
  }

  footer {
    height:60px;
    font-size: 10px;
  }
  
  footer>div {
    flex-direction:column;
    justify-content:center;
  }

  #contactFooter{
    display:none;
  }


}
