<!DOCTYPE html>

<head>

<title>Appartamento Canarie</title>
<meta name="description" content="Sito dell'appartamento alle Canarie"/>
<meta name="keywords" content=""> 
<meta name="robot" content="nofollow"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>


 
<body>

<header>
	<img class="headerLogo" src="/static/img/logo_mini1.png"/>
	<nav>
		<ul>
			<li><a class="headerText" href="/">Home</a></li>
			<li><a class="headerText" href="/apartment">Appartamento</a>
			<li><a class="headerText" href="/book">Prezzi e contatti</a></li>
			<li><a class="headerText" href="/where">Dove si trova</a></li>
		</ul>	
	</nav>
</header>

</body>

</html>
