<!DOCTYPE html>

<head>

<title>Appartamento Canarie</title>
<meta name="description" content="Sito dell'appartamento alle Canarie"/>
<meta name="keywords" content=""> 
<meta name="robot" content="nofollow"/>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
 
<body style="background-color:#FFD7B4;">

<header>
	<div>
		<img class="headerLogo" src="/static/img/logo_mini1.png"/>
		<nav class="headerNav">
			<ul>
				<li><a class="headerText" href="/">Home</a></li>
				<li><a class="headerText" href="/apartment">Appartamento</a>
				<li><a class="headerText" href="/contacts">Prezzi e contatti</a></li>
				<li><a class="headerText" href="/whereis">Dove si trova</a></li>
			</ul>	
		</nav>
		<div class="headerDropdown">
			<button class="dropdownButton" onclick="dropdown()"><i class="fa fa-bars" style="pointer-events:none;"></i></button>
			<div id="myDropdown" class="dropdownContent">
				<a href="/">Home</a>
				<a href="/apartment">Appartamento</a>
				<a href="/contacts">Prezzi e Contatti</a>
				<a href="/whereis">Dove si trova</a>
			</div>
		</div>
	</div>
</header>

<div class="contacts-wrap">
<div>
<div class="titlePrices">Prezzi e Disponibilità</div>
<div class="contacts-caption-wrap">
	<div class="captionPrices">Il sito è ancora in fase di sviluppo: per il momento è possibile avere informazioni su prezzi e disponibilità solo facendo richiesta all'indirizzo mail riportato nella sezione contatti.</div>
</div>
</div>
<div>
<div class="titlePrices">Contatti</div>
<div class="contacts-caption-wrap">
<div class="captionPrices">È possibile contattarci via mail all'indirizzo appartamentomappi@gmail.com.</div>
</div>
</div>
</div>

<footer>
  <div>
    <p>© 2022 | Appartamento Puerto del Carmen, Lanzarote</p>
    <p id="contactFooter"><i class="fa fa-envelope"></i>  appartamentomappi@gmail.com | <i class="fa fa-facebook"></i><a href="https://www.facebook.com" style="text-decoration:none">  appmappi</a> | <i class="fa fa-instagram"></i><a href="https://www.instagram.com" style="text-decoration:none">  appmappi</a></p>
  </div>
</footer>

<script src="/static/js/dropdown.js" type="text/javascript"></script>

</body>

</html>
